<table class="w-full caption-bottom text-sm">
  <thead class="[&amp;_tr]:border-b">
  <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
    <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 w-[80px]">
      Imagen
    </th>
    <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
      Nombre
    </th>
    <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
      Descripción
    </th>
    <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
      Disponible
    </th>
    <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">
      Precio
    </th>
    <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0">

    </th>
  </tr>
  </thead>
  <tbody class="[&amp;_tr:last-child]:border-0">
  <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted" *ngFor="let item of items">
    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
      <img
        [srcset]="item.image"
        width="64"
        height="64"
        alt="Product image"
        loading="lazy"
        class="aspect-square rounded-md object-cover"
      />
    </td>
    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 font-medium">{{ item.title }}</td>
    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 hidden md:table-cell">
      {{ item.description }}
    </td>
    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">{{ item.quantity}}</td>
    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 hidden md:table-cell">
      {{ item.price }}
    </td>
    <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 hidden md:table-cell">
      <div class="grid gap-0 grid-cols-2">
        <div >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
          >
            <path d="M4 13.5V4a2 2 0 0 1 2-2h8.5L20 7.5V20a2 2 0 0 1-2 2h-5.5" />
            <polyline points="14 2 14 8 20 8" />
            <path d="M10.42 12.61a2.1 2.1 0 1 1 2.97 2.97L7.95 21 4 22l.99-3.95 5.43-5.44Z" />
          </svg>
        </div>
        <div >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
          >
            <path d="M3 6h18" />
            <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
            <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
          </svg>
        </div>
      </div>
    </td>
  </tr>
  <tr *ngIf="items.length === 0">
    <td colspan="6">
      <p class="font-bold p-4 text-center">
        No se encontraron productos.
      </p>
    </td>
  </tr>
  </tbody>
</table>
